<div ng-controller="MalKabul" ng-init="Init()">
    <div class="card-box">
        <div class="tab-content">
            <div id="TbMain" class="tab-pane ">
                <div class="row">
                    <div class="col-12" style="padding-bottom: 10px;">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-sm btn-primary waves-effect" ng-click="Init()"><i class="mdi mdi-file-plus-outline font-20 vertical-middle"></i></button>                    
                            <button type="button" class="btn btn-sm btn-primary waves-effect" ng-click="Insert()"><i class="mdi mdi-content-save-move font-20 vertical-middle"></i></button>
                            <button type="button" class="btn btn-sm btn-primary waves-effect" ng-click="BtnSil()"><i class="mdi mdi-delete font-20 vertical-middle"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row pt-40">
                    <div class="col-4 px-0 text-info"><label class="form-control-label float-right">Evrak No :</label></div>
                    <div class="col-8 px-0"><label class="form-control-label pl-10">{{Seri}} - {{Sira}}</label></div>
                </div>
                <div class="row">
                    <div class="col-4 px-0 text-info"><label class="form-control-label float-right">Cari :</label></div>
                    <div class="col-8 px-0 text-truncate"><label class="form-control-label pl-10">{{CariAdi}}</label></div>
                </div>
                <div class="row">
                    <div class="col-4 px-0 text-info"><label class="form-control-label float-right">Depo :</label></div>
                    <div class="col-8 px-0 text-truncate"><label class="form-control-label pl-10">{{DepoAdi}}</label></div>
                </div>
                <div class="row">
                    <div class="col-4 px-0 text-info"><label class="form-control-label float-right">Tarih :</label></div>
                    <div class="col-8 px-0 text-truncate"><label class="form-control-label pl-10">{{Tarih}}</label></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="form-group btn btn-block btn-primary my-1 h-40" ng-click="BtnBelgeBilgisi()">Belge Bilgisi</button>
                    </div>
                    <div class="col-6">
                        <button class="form-group btn btn-block btn-primary my-1 h-40" ng-click="BtnCariSecim()">Cari Seç</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="form-group btn btn-block btn-primary my-1 h-40" ng-click="BtnBarkodGiris()">Barkod Giriş</button>
                    </div>
                    <div class="col-6">
                        <button class="form-group btn btn-block btn-primary my-1 h-40" ng-click="BtnIslemSatirlari()">İşlem Satırları</button>
                    </div>
                </div>
            </div>
            <div id="TbCariSecim" class="tab-pane">
                <div class="row py-1">
                    <div class="col-4 px-1">
                        <button class="form-group btn btn-block btn-primary mb-1 h-40" ng-click="MainClick()"><i class="" aria-hidden="true">Geri</i></button>
                    </div>
                </div>
                    <div id="TblCari"></div>                        
            </div>
            <div id="TbBelgeBilgisi" class="tab-pane">
                <div class="row pt-0 pb-1 ">
                    <div class="col-4 px-1">
                        <button class="form-group btn btn-block btn-primary mb-1 h-40" ng-click="MainClick()"><i class="" aria-hidden="true">Geri</i></button>
                    </div>
                </div>
                <div class="row my-0 py-0">
                    <div class="col-4 text-info px-1"><div class="col-form-label float-right py-2">E. Seri - Sıra :</div></div>
                    <div class="col-3 px-1">
                        <input type="text" class="form-control" ng-model="Seri" ng-disabled="EvrakLock">
                    </div>
                    <div class="col-5 px-1">
                        <input type="text" class="form-control" ng-model="Sira" ng-disabled="EvrakLock">
                    </div>
                </div>
                <div class="row my-0 py-0">
                    <div class="col-4 text-info px-1 py-0 my-0"><div class="col-form-label float-right py-2">Depo:</div></div>
                    <div class="col-8 px-1">
                        <select class="form-control" ng-model="DepoNo" ng-disabled="EvrakLock" ng-change="DepoChange()">
                            <option ng-repeat="option in DepoListe" value="{{option.KODU}}">{{option.ADI}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="TbBarkodGiris" class="tab-pane ">
                <div class="row">
                    <div class="col-12">
                        <h3>Barkod Giriş</h3>
                    </div>
                </div>
                <div class="row pt-0 pb-1 ">
                    <div class="col-4 px-1">
                        <button class="form-group btn btn-block btn-primary mb-1 h-40" ng-click="MainClick()"><i class="" aria-hidden="true">Geri</i></button>
                    </div>
                </div>
                <div class="row py-1">
                    <div class="col-12 px-1">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="Barkod" ng-keypress = "BtnStokBarkodGetir($event)" ng-disabled="BarkodLock" id="Barkod">
                            <span class="input-group-append">
                            <button type="submit" class="btn btn-primary" ng-click="BtnTemizle()"><i class="fas fa-backspace fa-lg"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-12" style="display: inline; text-align: center; overflow: hidden;">  
                        <label class="mb-0 h4 text-primary">{{StokKodu}} - {{StokAdi}}</label> 
                    </div>                        
                </div>
                <div class="row my-0 pt-2 ">
                    <div class="col-5 offset-3 text-info px-1">
                        <div class="col-form-label px-1 float-right py-1">Birim:</div>
                    </div>
                    <div class="col-4 px-1">
                            <input disabled type="text" class="form-control form-control-sm" value="{{BirimAdi}}">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-3 text-info px-1">
                        <div class="col-form-label float-right py-1">Miktar:</div>
                    </div>
                    <div class="col-4 px-1">
                        <input disabled type="text" class="form-control form-control-sm" ng-disabled="MiktarLock" value="{{Katsayi}}">
                    </div>
                    <div class="col-1 text-info px-1">
                        <div class="col-form-label text-center py-1">X</div>
                    </div>
                    <div class="col-4 px-1">
                        <input type="text" class="form-control form-control-sm" ng-model="Miktar" ng-keypress = "BtnEkleKey($event)" ng-change="MiktarFiyatValid()" id="Miktar" ng-keydown="MiktarPress($event)">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Palet Kodu :</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="PaletKodu">
                                <button class="btn btn-primary waves-effect waves-light" type="button" ng-click="BtnPaletGenerate(DataListe[0].KODU)"><i class="fas fa-sync-alt vertical-middle"></i></button>
                        </div>
                    </div>
                    <!-- <div class="col-md-1">
                        <button class="btn btn-primary waves-effect waves-light" type="button" ng-click="BtnSecimGrid('Raf')"><i class="fas fa-search vertical-middle"></i></button>
                    </div> -->
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Son Kullanım Tarihi :</label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <input type="text" class="form-control" data-provide='datepicker' id="Skt" ng-model="Skt">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-1">
                        <button type="submit"  class="btn btn-primary btn-block btn-block h-40" ng-click="BtnEkle()">Ekle</button>        
                    </div>
                </div>
            </div>
            <div id="TbIslemSatirlari" class="tab-pane ">
                <div class="row pt-0 pb-1 ">
                    <div class="col-4 px-1">
                        <button class="form-group btn btn-block btn-primary mb-1 h-40" ng-click="MainClick()"><i class="" aria-hidden="true">Geri</i></button>
                    </div>
                    <div id="TblIslem"></div>    
                </div>
            </div>
        </div>
    </div>
     <!-- MODALS -->
</div>
<script>
    $("#Tarih").datepicker({
    language: "tr"
    });
    $("#Skt").datepicker({
    language: "tr"
    });
</script>
