<div ng-controller="PaletAdresleme" ng-init="Init()">
    <div class="card-box">
        <div class="row">
            <div class="col-12" style="padding-bottom: 10px;">
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-sm btn-primary waves-effect" ng-click="Init()"><i class="mdi mdi-file-plus-outline font-24 vertical-middle"></i></button>                    
                    <button type="button" class="btn btn-sm btn-primary waves-effect" ng-click="Insert()"><i class="mdi mdi-content-save-move font-24 vertical-middle"></i></button>
                    <button type="button" class="btn btn-sm btn-primary waves-effect" ng-click="BtnSil()"><i class="mdi mdi-delete font-24 vertical-middle"></i></button>
                </div>
            </div>
        </div>
        <h3>PALET ADRESLEME</h3>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">İşlem Tipi :</label>
            <div class="col-md-2">
                <div class="input-group">
                    <select class="form-control form-control" ng-model="CmbEvrakTip">
                        <option value="0">Giriş</option>
                        <option value="1">Çıkış</option>
                    </select>
                </div>
            </div>
        </div>       
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Palet Kodu :</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="PaletKodu" ng-keypress = "PaletKoduGetir($event)"  id="PaletKodu">
                    <div class="input-group-append">
                        <button class="btn btn-primary waves-effect waves-light" type="button"  ng-click="BtnSecimGrid('Palet')"><i class="fas fa-search vertical-middle"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Raf Kodu :</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="RafKodu" ng-keypress = "RafKoduGetir($event)" id="RafKodu">
                    <div class="input-group-append">
                        <button class="btn btn-primary waves-effect waves-light" type="button" ng-click="BtnSecimGrid('Raf')"><i class="fas fa-search vertical-middle"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-12 col-form-label">SON 10 PALET HAREKETİ:</label>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="TblAdres"></div>
            </div>
        </div>
    </div>
     <!-- SEÇİM MODAL -->
 <div class="modal fade bs-example-modal-lg" id="MdlSecim" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Seçim Ekranı</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-block btn-primary waves-effect waves-light mb-1" ng-click="BtnGridSec()">Seç</button>
                <div id="TblSecim"></div>
            </div>
        </div>
    </div>
</div>
</div>
