<div ng-controller="StokDurumRapor" ng-init="Init()">
    <div class="card-box"> 
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Barkodu :</label>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="Barkod" ng-keypress = "BtnGetirKey($event)">
                    <div class="input-group-append">
                        <button class="btn btn-primary waves-effect waves-light" type="button" ng-click="BtnSecimGrid('Stok')"><i class="fas fa-search vertical-middle"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Adı :</label>
            <div class="col-md-5">
                <input type="text" class="form-control" ng-model="StokAdi">
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block btn-sm" ng-click="BtnGetir()">GETİR</button>
        </div>
        <div class="row">
            <div class="col-4 px-0 py-1 text-info"><label class="form-control-label ">Toplama Alanındaki Yeri :</label></div>
            <div class="col-4 px-0 py-1 text-truncate"><label class="form-control-label ">{{ToplamaRafi}}</label></div>
        </div>
        <div class="row">
            <div class="col-4 px-0 py-1 text-info"><label class="form-control-label ">Toplama Alanındaki Miktar :</label></div>
            <div class="col-4 px-0 py-1 text-truncate"><label class="form-control-label ">{{TMiktar}}</label></div>
        </div>
        <div class="row">
            <div class="col-4 px-0 py-1 text-info"><label class="form-control-label ">Saklama Alanındaki Miktar :</label></div>
            <div class="col-4 px-0 py-1 text-truncate"><label class="form-control-label ">{{SMiktar}}</label></div>
        </div>
        <div class="row">
            <div class="col-4 px-0 py-1 text-info"><label class="form-control-label ">Toplam Miktar :</label></div>
            <div class="col-4 px-0 py-1 text-truncate"><label class="form-control-label ">{{Toplam}}</label></div>
        </div>
    </div>   
        <div class="row">
            <!-- SEÇİM MODAL -->
        <div class="modal fade bs-example-modal-lg" id="MdlSecim" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel">Seçim Ekranı</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-block btn-primary waves-effect waves-light mb-1" ng-click="BtnGridSec()">Seç</button>
                        <div id="TblSecim"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>