<div ng-controller="SubeEmirKapama" ng-init="Init()">
    <div class="card-box">
        <div class="row">
            <div class="col-12" style="padding-bottom: 10px;">
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-sm btn-primary waves-effect" ng-click="Init()"><i class="mdi mdi-file-plus-outline font-24 vertical-middle"></i></button>                    
                    <button type="button" class="btn btn-sm btn-primary waves-effect" ng-click="Insert()"><i class="mdi mdi-content-save-move font-24 vertical-middle"></i></button>
                    <button type="button" class="btn btn-sm btn-primary waves-effect" ng-click="BtnSil()"><i class="mdi mdi-delete font-24 vertical-middle"></i></button>
                </div>
            </div>
        </div>
    </div>
     <!-- MODALS -->
</div>
