<div ng-controller="ToplamaEmriOlustur" ng-init="Init()">
    <div class="card-box">
        <div class="tab-content">
            <div id="TbMain" class="tab-pane ">
                <div class="row">
                    <div class="col-12" style="padding-bottom: 10px;">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-sm btn-primary waves-effect" ng-click="Init()"><i class="mdi mdi-file-plus-outline font-20 vertical-middle"></i></button>                    
                        </div>
                    </div>
                </div>
                <div class="row pt-40">
                    <div class="col-4 px-0 text-info"><label class="form-control-label float-right">Emir No :</label></div>
                    <div class="col-8 px-0"><label class="form-control-label pl-10">{{EmirNo}}</label></div>
                </div>
                <div class="row">
                    <div class="col-4 px-0 text-info"><label class="form-control-label float-right">Depo :</label></div>
                    <div class="col-8 px-0 text-truncate"><label class="form-control-label pl-10">{{DepoAdi}}</label></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="form-group btn btn-block btn-primary my-1 h-40" ng-click="BtnBelgeBilgisi()">Belge Bilgisi</button>
                    </div>
                    <div class="col-6">
                        <button class="form-group btn btn-block btn-primary my-1 h-40" ng-click="BtnSiparisSecim()">Siparisleri Seç</button>
                    </div>
                </div>
            </div>
            <div id="TbSiparisSecim" class="tab-pane ">
                <div class="row">
                    <div class="col-8">
                        <h3>Sipariş Seçim</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h5>Tarih</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 px-1">
                        <div class="input-group input-group-icon">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="icon wb-calendar" aria-hidden="true"></span>
                                </div>
                            </div>
                            <input type="text" class="form-control" type="text" id="SipTarih" ng-model="SipTarih" data-provide="datepicker" ng-disabled="EvrakLock">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 px-1">
                        <div class="input-group input-group-icon">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="icon wb-calendar" aria-hidden="true"></span>
                                </div>
                            </div>
                            <input type="text" class="form-control" type="text" id="SipTarih2" ng-model="SipTarih2" data-provide="datepicker" ng-disabled="EvrakLock">
                        </div>
                    </div>
                </div>
                <div class="row my-0 py-0">
                    <div class="col-4 text-info px-1 py-0 my-0"><div class="col-form-label  py-2">Taşıyıcı:</div></div>
                    <div class="col-7 px-1">
                        <select class="form-control" ng-model="TasiyiciKodu"  ng-change="TasiyiciChange()">
                            <option ng-repeat="option in TasiyiciListe" value="{{option.KODU}}">{{option.ADI}}</option>
                        </select>
                    </div>
                    <div class="col-1 ">
                    <button type="submit" class="btn btn-primary" ng-click="BtnTemizle()"><i class="fas fa-backspace fa-lg"></i></button>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="form-group btn btn-block btn-primary my-1 h-40" ng-click="BtnSipListele()">Siparis Listele</button>
                    </div>
                    <div class="col-6">
                        <button class="form-group btn btn-block btn-primary my-1 h-40" ng-click="BtnSipSec()">Emir Oluştur</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="TblSipSecim"></div>
                    </div>
                </div>
            </div>
            <div id="TbBelgeBilgisi" class="tab-pane">
                <div class="row pt-0 pb-1 ">
                    <div class="col-4 px-1">
                        <button class="form-group btn btn-block btn-primary mb-1 h-40" ng-click="MainClick()"><i class="" aria-hidden="true">Geri</i></button>
                    </div>
                </div>
                <div class="row my-0 py-0">
                    <div class="col-4 text-info px-1"><div class="col-form-label float-right py-2">Emir No :</div></div>
                    <div class="col-3 px-1">
                        <input type="number" class="form-control" ng-model="EmirNo" ng-disabled="EvrakLock">
                    </div>
                </div>
                <div class="row my-0 py-0">
                    <div class="col-4 text-info px-1 py-0 my-0"><div class="col-form-label float-right py-2">Depo:</div></div>
                    <div class="col-8 px-1">
                        <select class="form-control" ng-model="DepoNo" ng-disabled="EvrakLock" ng-change="DepoChange()">
                            <option ng-repeat="option in DepoListe" value="{{option.KODU}}">{{option.ADI}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div> 
      <!-- MODALS -->
      <div class="modal fade" id="MdlOnay" aria-hidden="true" aria-labelledby="examplePositionCenter" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple modal-center modal-primary">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>

                    </button>
                </div>
                <div class="modal-body px-1 py-1">
                        <div class="row pt-40">
                            <div class="col-4 px-0 text-info"><label class="form-control-label float-right">Emir No :</label></div>
                            <div class="col-8 px-0"><label class="form-control-label pl-10">{{EmirNo}}</label></div>
                        </div>
                        <div class="row">
                            <div class="col-4 px-0 text-info"><label class="form-control-label float-right">Taşıyıcı :</label></div>
                            <div class="col-8 px-0 text-truncate"><label class="form-control-label pl-10">{{Tasiyici}}</label></div>
                        </div>
                        <div class="row">
                            <div class="col-4 px-0 text-info"><label class="form-control-label float-right">Toplam Miktar :</label></div>
                            <div class="col-8 px-0 text-truncate"><label class="form-control-label pl-10">{{ToplamEmirMiktar}}</label></div>
                        </div>
                        <div class="row">
                            <div class="col-4 px-0 text-info"><label class="form-control-label float-right">Toplam Kilo :</label></div>
                            <div class="col-8 px-0 text-truncate"><label class="form-control-label pl-10">{{ToplamEmirKilo}}</label></div>
                        </div>
                    <div class="row">
                        <div class="col-6 px-1">
                            <button type="submit"  class="btn btn-primary btn-block btn-block h-40" ng-click="BtnVazgec()">Vazgeç</button>        
                        </div>
                        <div class="col-6 px-1">
                            <button type="submit"  class="btn btn-primary btn-block btn-block h-40" ng-click="BtnEkle()">ONAYLA</button>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#Tarih").datepicker({
    language: "tr"
    });
    $("#Skt").datepicker({
    language: "tr"
    });
    $("#SipTarih").datepicker({
    language: "tr"
    });
    $("#SipTarih2").datepicker({
    language: "tr"
    });
</script>
